.row
  .col-md-4.col-md-offset-6
    %p
      %b Title:
      = @password.title

    %p
      %b Password:
      = c = @password.password
      = puts c

    = link_to 'Edit', edit_password_path(@password)
    \|
    = link_to 'Back', passwords_path
